<h1> Edit a band on Bandjo </h1>

<%= simple_form_for @band do |f| %>
  <%= f.input :name, label: "What's the name of your band?" %>
  <%= f.input :hometown, label: "Where are you guys from?" %>
  <%= f.input :biography, label: 'Tell us a little more about you guys.' %>
  <%= f.input :track, label: 'Link us to some of your soundcloud tunes' %>
  <%= f.button :submit %>
 <% end %>

 <%= link_to "Cancel", bands_path %>