<!DOCTYPE html>
<html>
<head>
  <title>Bandjo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Raleway:300,100' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="//connect.soundcloud.com/sdk.js"></script>
    <script>
        SC.initialize({
        client_id: "72b814310e10d411027fbc1f22899d73",
  });
</script>

</head>
<body>
  <div id="container">
    <ul id="user_nav">
      <li class="bandsFansLink bandsLink"><a href="#">bands</a></li>
      <li class="bandsFansLink fansLink"><a href="#">fans</a></li>
    </ul>

    <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>

      <%= yield %>
  </div>

</body>

</html>
