<!DOCTYPE html>
<html>
<head>
  <title>Bandjo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Raleway:300,100|Poiret+One' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
</head>
<body>
  <div id="container">
    <ul id="user_nav">
      <li class="bandsFansLink bandsLink"><a href="#">bands</a></li>
      <li class="bandsFansLink fansLink"><a href="#">fans</a></li>
    </ul>

    <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>

      <%= yield %>
  </div>

</body>

</html>
